nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    font-family: 'Monoton', cursive;
    font-size: 2.5rem;
    color: palevioletred;
    text-shadow: 1px 1px 8px rgb(212, 120, 151);
  }
  button {
    background: transparent;
    cursor: pointer;
    border: 2px solid #333;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: #333;
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
